extends layout

block content
    div.row.align-items-center.justify-content-center
        div.col-md-7
            div.post-image
                img.img-fluid.mb-4(src= data.content[0].image, alt= data.title)
        div.col-md
            div.post-header
                h3= data.title
                div.d-inline= data.date
                    span.overlay
                div.d-inline &nbsp &nbsp &nbsp
                div.d-inline By - #{data.author}
                    span.overlay
    br
    div.post-body
        p.text-justify= data.content[0].body
        - for(let  i = 1; i< data.content.length; i++) {
            if data.content[i].image
                div.post-image.mx-auto.d-block
                    img.img-fluid.my-4(src= data.content[i].image, alt= data.title)
            p.text-justify= data.content[i].body
        -}
    <div id="share" class="text-center"></div>
    script(src="/js/share.js" defer='')
    div.row.justify-content-between.my-4
        div.col-4
            if earlier
                div.text-left
                    a(href=earlier.slug)
                        <i class="fas fa-chevron-left mr-2"></i>
                        |    Earlier Post
        div.col-4
            if next
                div.text-right 
                    a(href=next.slug)
                        |    Next Post
                        <i class="fas fa-chevron-right ml-2"></i>
    