extends layout

block content
    div.row.align-items-center.justify-content-center
        div.col
            div.post-image
                img(src= data.content[0].image, alt= data.title)
        div.col
            div.post-header
                h3= data.title
                div.d-inline= data.date
                div.d-inline &nbsp &nbsp &nbsp
                div.d-inline By - 
                    span= data.author
    br
    div
        p= data.content[0].body
        - for(let  i = 1; i< data.content.length; i++) {
            if data.content[i].image
                div.post-image.mx-auto.d-block
                    img(src= data.content[i].image, alt= data.title)
            p= data.content[i].body
        -}
    div.row.justify-content-between
        div.col-4
            if earlier
                div.text-left
                    a(href=earlier.slug) Earlier Post
        div.col-4
            if next
                div.text-right 
                    a(href=next.slug) Next Post